.nav-link {
  cursor: pointer;
}

.home-page {
  background-image: url("/../assets/home_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 1100px;
}

.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

.loginContainer {
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 350px;
}
